language: cpp
dist: bionic

addons:
    apt:
        packages:
            - libhdf5-serial-dev

matrix:
    include:
        - name: "Python 3.6.7 on Xenial Linux"
          os: linux
          env: PYTHON=3.6

        - name: "Python 3.7.4 on macOS"
          os: osx
          env: PYTHON=3.7

cache: 
    directories:
        - $HOME/.cache/pip
        - $HOME/.cache/hdf5
        - $HOME/.ccache

before_install:
- |
    if [ "$TRAVIS_OS_NAME" = "osx" ]; then
        echo -e 'if command -v pyenv 1>/dev/null 2>&1; then\n  eval "$(pyenv init -)"\nfi' >> ~/.bash_profile
        bash
        brew update; brew install pyenv;
        pyenv install 3.7.3; pyenv global 3.7.3;
        pyenv version
        which python
        python --version
    fi
    pip install --user --upgrade pip virtualenv
    virtualenv -p python$PYTHON venv
    source venv/bin/activate
    which python
    python --version
    pip install numpy
install:
- pip install ".[test]" --verbose -e .
script:
- pytest

after_success:
    - codecov
